{%- set suffix = '96' %}
postgres:
  use_upstream_repo: False
  pkg: 'postgresql{{ suffix }}-server'
  pkg_client: 'postgresql{{ suffix }}-client'
  user: postgres
  group: postgres
  service: postgresql
  conf_dir: /var/db/postgres/data{{ suffix }}/
  pkg_libpq_dev: ''

  prepare_cluster:
    command: /usr/local/etc/rc.d/postgresql oneinitdb
    test: test -f /var/db/postgres/data{{ suffix }}/PG_VERSION
    user: root
    env: {}
