postgres:
  use_upstream_repo: False
  pkg: 'postgresql96-server'
  pkg_client: 'postgresql96-client'
  user: postgres
  group: postgres
  service: postgresql
  conf_dir: {{ conf_dir }}
  pkg_libpq_dev: ''
 
  prepare_cluster:
    command: /usr/local/etc/rc.d/postgresql oneinitdb
    test: test -f {{ conf_dir }}/PG_VERSION
    user: root
    env: {}

